Jagger/build/*
Jagger/test/userPreferences.*
Jagger/test/Project/DerivedData/methodAttributes.json
Jagger/test/Data/data.journal
Jagger/Jagger.xcodeproj/xcuserdata/miyako.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Jagger/Jagger.xcodeproj/project.xcworkspace/xcuserdata/miyako.xcuserdatad/UserInterfaceState.xcuserstate
Jagger/Objs*
Jagger/.vs/*
Jagger/test/Plugins/Jagger.bundle/Contents/Windows64/Jagger.pdb
Jagger/test/Plugins/Jagger.bundle/Contents/Windows64/Jagger.lib
Jagger/test/Plugins/Jagger.bundle/Contents/Windows64/Jagger.exp
Jagger/test/Plugins/Jagger.bundle/Contents/Resources/dict/ipadic/dict
